
.reghover {

    background-color:  whitesmoke;
    border: 2px solid rgb(250, 250, 250);
    border-radius: 20px;
}
.reghover:hover{

    background-color:  whitesmoke;
    border: 2px solid black;
    border-radius: 20px;
}
 