<footer class=" text-center text-lg-start mt-5 border " >
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase" >Mission</h5>

                <p>
                    We are dedicated to sharing the beauty and diversity of 
                    photography with the world. We strive to empower photographers 
                    and artists while offering our audience authentic, high-quality
                     images that celebrate the rich visual heritage of our planet.
                      Our mission is to create a platform that connects people from around
                       the globe with unique and stunning photography, while promoting 
                       sustainability and ethical practices in the industry.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Vision</h5>
                <p>
                    Our vision at Photography is to become the premier destination for photography
                     enthusiasts worldwide. We envision a world where photography is
                      celebrated and embraced for its unique beauty and cultural significance.
                       Through our platform, we aim to support and elevate photographers and artists,
                        while connecting them with a global audience. Our goal is to inspire and delight our
                         audience with the finest selection of photographs,
                     while promoting sustainable and ethical practices in the industry.
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(211, 211, 211, 0.5);">
        © 2025 Copyright:
        <a class="text-dark" routerLink="/">PotoGrapher.com</a>
    </div>
    <!-- Copyright -->
</footer>