 
.emp-profile{
    padding: 3%;
    color: rgb(0, 0, 0);
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #ffffff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #534e4e;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
 
 

.h-custom {
    height: calc(100% - 73px);
  }
  
  @media (max-width: 450px) {
    .h-custom {
      height: 100%;
    }
  }
  
  .no-outline {
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 2px #23252a solid;
    font-weight: bold;
    font-size: large;
  }
 
  
 
  
  .flabel{
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    font-weight: bold;
    font-size: large;
  }


.fsmall{
   font-weight: 100;
    font-size: xx-small;
}
 


  #dd{
    .show {
        margin-top: 50px;
        width: 75%;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #ffffff;
        border-radius: 20px;
        background-position: center center;
        background-repeat: no-repeat;background-size: cover;
        overflow: scroll;
        color: rgb(0, 0, 0);
    }
    ::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
      }
      
      ::-webkit-scrollbar-track {
        background-color: #f1f1f1; /* Background color of the track */
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar thumb */
      }
      input::placeholder {
        font-size: 12px !important;
        font-weight: 200 !important;
        color: rgb(0, 0, 0) !important; /* Adjust the value to the desired size */
      }
     
      option {
        font-size: 12px; /* Adjust the value to the desired size */
        font-weight: 200;
        color: rgb(0, 0, 0) !important;  /* Adjust the value to the desired size */
      }
      option::placeholder {
        font-size: 12px; /* Adjust the value to the desired size */
        font-weight: 300;
        color: rgb(0, 0, 0) !important; /* Adjust the value to the desired size */
      }
      input::placeholder {
        font-size: 12px; /* Adjust the value to the desired size */
        font-weight: 300;
        color: rgb(0, 0, 0) !important; /* Adjust the value to the desired size */
      }
      select::placeholder {
        font-size: 12px; /* Adjust the value to the desired size */
        font-weight: 300;
        color: rgb(0, 0, 0) !important; /* Adjust the value to the desired size */
      }
       .banner{
        margin-top: 25px;
        padding: 10px;
        background-color: #000000;
        border-radius: 10px ;
        color: white;
       
       }
       
  }


  .notCard{
    color: white;
    border-radius: 20px;
    padding: 20px;

  }

  .mony{

    color: red;
    font-size: large;
    font-weight: bold;
  }

  @media (max-width: 576px) {
    .col-md-2 {
        margin-top: 20px;
    }
}