<app-header></app-header>


  <div class="container">
    <h2>Order Details</h2>
    <div class="form-group">
      <label for="orderDate">Order Date</label>
      <input type="date"  id="orderDate" class="form-control" [(ngModel)]="OrderData" placeholder="Enter order date">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="CheckAval()">Check
        Avalible</button>
    </div>

    <div *ngIf="isPerHour">
      <p>This photographer works per hour</p>
      <div class="form-group">
        <label for="hours">Hours you want</label>
        <input type="number"  id="hours" class="form-control" [(ngModel)]="Odurition">
      </div>
    </div>

    <div *ngIf="!isPerHour">
      <p>This photographer charges {{ PhotoGrapher.salary }} SAR per task</p>
    </div>

    <div *ngIf="isAval" class="text-success">
      <p>Photographer is available on this date</p>
    </div>

    <div *ngIf="!isAval" class="text-danger">
      <p>Photographer is not available on this date</p>
    </div>

    <div class="form-group">
      <label for="location">Location <i class="fa fa-location-arrow location-icon" aria-hidden="true"></i></label>
      <input type="text" id="location"  class="form-control" [(ngModel)]="Orderlocation"
        placeholder="Enter location">
    </div>

    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" id="phoneNumber"  class="form-control"  [(ngModel)]="OrderPhoneNumber"
        placeholder="Enter phone number">
    </div>

    <button type="submit" [disabled]="!(OrderPhoneNumber && Orderlocation)" class="btn" (click)="Order()">Reservation</button>
  </div>
