.container {
    height: 75vh;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.text-center {
    text-align: center;
}

.form-group {
    margin-top: 5rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-dark {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #343a40;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}