<div class="filter">
    <h2 class="my-3" style="text-align: center;">Filters</h2>
  
    <div class="collapsible my-3">
      <button class="collapsible-button" (click)="togglephotoGrapherCollapsed()">
        <div>photoGrapher</div>
      </button>


      <div class="collapsible-content" [ngClass]="{'collapsed': photoGrapherCollapsed}">
        <div class="form-check my-2" *ngFor="let photoGrapher of photoGraphers">
          <input class="form-check-input" type="radio" value="{{photoGrapher}}" [(ngModel)]="selectedphotoGrapher" name="color"
            id="{{photoGrapher}}" (change)="onRadioModelChange($event)">
          <label class="form-check-label" for="{{photoGrapher}}">
            {{photoGrapher}}
          </label>
        </div>
      </div>


    </div>
  
    <div class="collapsible my-3">
      <button class="collapsible-button" (click)="togglecityCollapsed()">city</button>
      <div class="collapsible-content" [ngClass]="{'collapsed': cityCollapsed}">
        <div class="form-check my-2" *ngFor="let item of city">
          <input class="form-check-input" type="radio" name="city" value="{{item}}" [(ngModel)]="selectedcity"
            id="{{item}}" (change)="onRadioModelChange($event)">
          <label class="form-check-label" for="{{item}}">
            {{item}}
          </label>
        </div>
      </div>
    </div>

    <div class="collapsible my-3">
      <button class="collapsible-button" (click)="togglegenderCollapsed()">gender</button>
      <div class="collapsible-content" [ngClass]="{'collapsed': genderCollapsed}">
        <div class="form-check my-2" *ngFor="let item of gender">
          <input class="form-check-input" type="radio" name="gender" value="{{item}}" [(ngModel)]="selectedgender"
            id="{{item}}" (change)="onRadioModelChange($event)">
          <label class="form-check-label" for="{{item}}">
            {{item}}
          </label>
        </div>
      </div>
    </div>
    <div class="collapsible my-3">
      <button class="collapsible-button" (click)="togglePerTaskOrHoureCollapsed()">PerTaskOrHoure</button>
      <div class="collapsible-content" [ngClass]="{'collapsed': PerTaskOrHoureCollapsed}">
        <div class="form-check my-2" *ngFor="let item of PerTaskOrHoure">
          <input class="form-check-input" type="radio" name="PerTaskOrHoure" value="{{item}}" [(ngModel)]="selectedPerTaskOrHoure"
            id="{{item}}" (change)="onRadioModelChange($event)">
          <label class="form-check-label" for="{{item}}">
            {{item}}
          </label>
        </div>
      </div>
    </div>
  
    

    <div class="container mt-4" style="text-align: center;">
      <button type="button" class="btn btn-dark bg-opacity-25 " (click)="getProductsByFilter()">Filter</button>
    </div>
  
  
  </div>