<app-header></app-header>
<div class="container mt-2">
    <h1 class="text-center">Privacy Policy</h1>

    <div class="row">
        <div class="col-md-8  ">
            <h6>Information We Collect</h6>
            <p class="text-muted">We may collect personal information such as your name, email address, and phone number. We will only collect personal information that is relevant to the purpose of our website.</p>

            <h6>How We Use Your Information</h6>
            <p class="text-muted">We use the information we collect to provide services to you and improve our website. We will never share your personal information with third parties unless required by law.</p>

            <h6>Security</h6>
            <p class="text-muted">We take the security of your personal information seriously. We implement appropriate security measures to protect against unauthorized access or disclosure of your information.</p>

            <h6>Cookies</h6>
            <p class="text-muted">Our website may use cookies to enhance your experience. You have the option to disable cookies in your browser settings if you prefer.</p>

            <h6>Changes to This Privacy Policy</h6>
            <p class="text-muted">We may update our privacy policy from time to time. Any changes will be posted on this page.</p>

            <h6>Contact Us</h6>
            <p class="text-muted">If you have any questions about our privacy policy, please contact us:</p>
            <ul>
                <li>Email: info@example.com</li>
                <li>Phone: 123-456-7890</li>
            </ul>
        </div>
    </div>
</div>
<footer class=" text-center text-lg-start mt-5 border " >
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase" >Mission</h5>

                <p>
                    We are dedicated to sharing the beauty and diversity of PotoGrapher fashion with the world. We strive to
                    empower PotoGrapher designers and artisans while offering our customers authentic, high-quality clothing
                    and accessories that celebrate the rich cultural heritage of Africa. Our mission is to create a
                    platform that connects people from around the globe with unique and stylish PotoGrapher fashion, while
                    promoting sustainability and ethical business practices.
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Vision</h5>
                <p>
                    Our vision at PotoGrapher for Clothes is to become the premier ecommerce destination for PotoGrapher fashion
                    worldwide. We envision a world where PotoGrapher fashion is celebrated and embraced for its unique
                    beauty and cultural significance. Through our platform, we aim to support and elevate PotoGrapher
                    designers and artisans, while connecting them with a global audience. Our goal is to inspire and
                    delight our customers with the finest selection of PotoGrapher clothing and accessories, while promoting
                    sustainable and ethical fashion practices.
                </p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(211, 211, 211, 0.5);">
        © 2023 Copyright:
        <a class="text-dark" routerLink="/">PotoGrapher.com</a>
    </div>
    <!-- Copyright -->
</footer>