/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400

.body{
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
   
    font-weight:  200;
    font-style: normal;
  }
  input::placeholder {
    font-size: 12px; /* Adjust the value to the desired size */
  }
  
  select {
    font-size: 12px; /* Adjust the value to the desired size */
  }
  
  option {
    font-size: 12px; /* Adjust the value to the desired size */
  }