<app-header></app-header>
<div class="container-fluid mt-5">
  <div class="row">
    <div style="display:flex;">
      <app-filter style="background-color:#f9f9f9" class=""></app-filter>
      <div class="grid-container" style="width: 100%; ">
        <ng-container>
          <div class="container">
            <div class="row">
              <div class="col-md-3" *ngFor="let user of UsersData">

                <div class="card" >
                  <div class="card-body h-100">
                    <div class="grid-item h-100">
                      <img [src]="imgSrc(user.image)" class="img-fluid"style="height: 200px;" alt="Image">
                      <div class="container ">
                        <div class=" mb-3 mt-2">
                          <span class="fw-bold mb-1 text-break ">{{user.fullName}}</span>
                          <br>
                          <span  class="text-muted"> {{user.salary}} SAR IN
                            {{user.perHourTask}}</span>
                          <br>
                          <div style="text-align: center; margin-top: 1rem;">
                            <button class=" btn btn-dark bg-opacity-25 w-100" (click)="Profile(user.id)"> Show Profile </button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="d-flex align-items-center justify-content-center vh-100" *ngIf="!UsersData">
          <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Photographers not found.</p>
            <p class="lead">
              Photographers you’re looking for doesn’t exist.
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>